.bascet {
  color: #f8fdfe;
  font-family: Cabin;
  text-align: center;
  line-height: 24px;
}
.page-header__bascet {
  display: flex;
  align-items: baseline;
  position: relative;
}
.text {
  &--font-size {
    color: #f8fdfe;
    font-size: 16px;
    font-style: normal;
   }
  &--black-color {
    color: #000;
    font-size: 12px;
    line-height: 10px;
  }
}
.text__bascet-culc {
    position: absolute;
    right: 10px;
    bottom: 8px;
    z-index: 1;
}
.header-button {
    background-color: #10bbd5;
  border: none;
  line-height: normal;
}
.header-button__bascet-icon {
    position: relative;
}
.button-icon__bascet-icon {
    &--will-first {
        position: absolute;
        left: 7px;
        top: 24px;
    }
    &--will-second {
        position: absolute;
  right: 3px;
  top: 24px;
    }
}