.foot {
  display: flex;
  justify-content: space-between;
  background-color: #4c394e;
  padding: 32px 52px;
}
.foot-text {
  color: #f8fdfe;
  line-height: 24px;
  font-size: 16px;
  line-height: 24px;
}
