.header-menu {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.text {
  &--title-color {
    color: #000;
    font-size: 16px;
    line-height: 24px;
  }
}
.menu-list {
  display: flex;
  column-gap: 40px;
  list-style: none;
  &--padding {
    padding-left: 0;
  }
}
.link {
  color: #000;
  font-family: Cabin;
  line-height: 24px;
}
