.page-header {
   background-color: #10bbd5;
 }
.page-header__container { 
  width: 100%;
   position: fixed;
  z-index: 1;
}
.logo-container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
}
.text {
  color: #f8fdfe;
  font-family: Cabin;
  font-weight: 400;
  line-height: normal;
  font-size: 24px;
  &--font-weight {
    font-weight: 700;
  }
}
.header__logo-text {
  position: absolute;
  top: 25px;
  margin-left: 4px;
  display: inline;
}
