.main-container {
  background-color: #eeeeef;
  &--padding {
    padding-top: 134px;
    padding-bottom: 120px;
  }
}
.page-title {
  color: #1f1f1f;
  font-family: Cabin;
  line-height: 40px;
}
.collection-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid #a8a8a8;
  margin-top: 23px;
  padding-top: 24px;
  gap: 32px 24px;
}
.collection-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8e8e;
  background-color: #f8fdfe;
  padding: 32px;
}
.collection__book-card {
  padding: 32px;
  position: relative;
}

.collection__book-link {
  position: relative;
}
.label-block {
  position: absolute;
  top: 1px;
}
.type {
  padding: 4px 8px;
  color: #f8fdfe;
  border-radius: 4px;
  &--top-seller {
    background-color: #4200ff;
  }
  &--condition {
    background-color: #af39e7;
  }
  &--discount {
    background-color: #ea33c0;
  }
}
.card-img {
  display: flex;
  justify-content: center;
}
.card-img__envelope {
  margin-left: 32px;
  margin-bottom: 16px;
  width: 178px;
  height: 280px;
}
.card-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.text {
  &--card-name {
    width: 242px;
    color: #1f1f1f;
    min-height: 31px;
  }
  &--author-name {
    color: #8e8e8e;
    line-height: 24px;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
  }
  &--scroll {
    overflow-x: scroll;
  }
  &--new-price {
    color: #e90000;
    font-size: 24px;
    font-weight: 500; 
    line-height: 32px;
  }
  &--old-price {
    color: #8e8e8e;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500; 
    text-decoration: line-through;
    margin-left: 24px;
  }
}
.book-info {
  width: 242px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #8e8e8e;
}
.text__price {
  margin-top: 8px;
  margin-bottom: 16px;
}
.btn {
  font-size: 16px;
  line-height: 24px;
  &--add-button {
    background-color: #4c394e;
  }
  &--endup-button {
    background-color: #4d762d;
  }
}
.btn__card {
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
}
